.card__debra{
    .container{
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 112px;
        padding-bottom: 112px;
        .card__debra__title{
            background: #F5F5F5;
            border-radius: 10px 0px 0px 10px;
            padding: 10.7rem 6.7rem;
            h3, p{
                font-family: 'Inter', sans-serif;
                width: 100%;
            }
            h3{
                max-width: 46.8rem;
                font-weight: 500;
                font-size: 30px;
                line-height: 120%;
                text-align: center;
                color: #050110;
                margin-bottom: 30px;
            }
            p{
                max-width: 48.9rem;
                font-weight: 300;
                font-size: 18px;
                line-height: 175%;
                text-align: center;
                color: #3F3D49;
            }
        }
        .card__debra__image{
            width: 100%;
            height: 100%;
            max-width: 52rem;
            max-height: 50.3rem;
            transition: all .5s;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                object-fit: cover;
                transition: all .5s;
                &:hover, &:focus{
                    transform: scale(1.1);
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1200px){
        .container{
            .card__debra__title{
                padding: 6rem 4rem;
            }
            .card__debra__image{
                max-width: 400px;
                max-height: 386px;
            }
        }
    }
    @media (max-width: 991px){
        .container{
            padding-top: 6rem;
            padding-bottom: 6rem;
            .card__debra__title{
                padding: 5rem 3rem;
                h3{
                    font-size: 28px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 850px){
        .container{
            flex-direction: column-reverse;
            .card__debra__title{
                margin-top: -20px;
                border-radius: 5px;
                padding-top: 50px;
                padding-bottom: 40px;
                h3{
                    font-size: 26px;
                    max-width: 550px;
                    margin-bottom: 20px;
                }
                p{
                    max-width: 550px;
                }
            }
            .card__debra__image{
                z-index: 2023;
            }
        }
    }
    @media (max-width: 520px){
        .container{
            padding-top: 4rem;
            padding-bottom: 4rem;
            .card__debra__title{
                padding-bottom: 40px;
                padding-top: 55px;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                h3{
                    font-size: 24px;
                }
            }
            .card__debra__image{
                max-width: 34.9rem;
                max-height: 33.8rem;
            }
        }
    }
    @media (max-width: 320px){
        .container{
            .card__debra__title{
                padding-top: 4rem;
                padding-bottom: 3rem;
                h3, p{
                    text-align: center;
                }
            }
        }
    }
}