footer{
    background: linear-gradient(115.6deg, #000000 -7.5%, #151515 105.49%);
    width: 100%;
    padding-top: 112px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .footer__top{
        padding-bottom: 45px;
        ul{
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
    .footer__line{
        height: 1px;
        display: flex;
        align-items: center;
        img{
            max-height: 1px;
        }
    }
    .footer__body{
        width: 100%;
        max-width: 33.5rem;
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column;
        .footer__body__logo{
            display: block;
            padding-bottom: 35px;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 13px;
            li{
                display: flex;
                align-items: center;
                gap: 5px;
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
                a{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    transition: all .5s ease-in-out;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

    }
    .footer__bottom{
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-top: 1px solid #9A9D9E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
        button{
            border: 1.5px solid var(--gray-100);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.7;
            border-radius: 50%;
            width: 3.7rem;
            height: 3.7rem;
            transition: all .3s ease;
            &:hover{
                opacity: 1;
                background-color: var(--gray-100);
            }
            img{
                max-width: 1.3rem;
            }
        }
    }
    // Responsive
    @media (max-width: 1200px){
        padding-top: 90px;
    }
    @media (max-width: 768px){
        // Align all items center
        align-items: center;
        .footer__top{
            ul{
                justify-content: center;
            }
        }
        .footer__line{
            align-items: center;
            justify-content: center;
        }
        .footer__body{
            max-width: 480px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            ul{
                align-items: center;
                text-align: center;
            }
        }
        .footer__bottom{
            justify-content: center;
            gap: 40px;
        }
    }
    @media (max-width: 480px){
        padding-top: 4rem;
        .footer__top{
            padding-bottom: 4rem;
        }
        .footer__body{
            padding-top: 3rem;
            padding-bottom: 3rem;
            max-width: 100%;
            .footer__body__logo{
                padding-bottom: 2rem;
            }
        }
        .footer__bottom{
            gap: 20px;
            padding-top: 2rem;
            padding-bottom: 2rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                text-align: center;
            }
        }
    }
    @media(max-width: 325px){
        .footer__body{
            ul{
                li{
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}