.s-property{
    padding-top: 60px;
    padding-bottom: 112px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container{
        .s-property__title{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 60px;
            h1{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 42px;
                line-height: 125%;
                text-align: center;
                letter-spacing: -0.01em;
                color: #1A1A1A;
            }
            p{
                width: 100%;
                max-width: 555px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #4F5152;
                opacity: 0.8;
            }
            
        }
    }
    .s-property__repeater{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;
        width: 100%;
    }
    .btn{
        margin-top: 90px;
    }
    // Responsive
    @media (max-width: 991px){
        .container{
            .s-property__title{
                h1{
                    font-size: 28px;
                }
                padding-bottom: 40px;
            }
        }
        gap: 25px;
        .btn{
            margin-top: 60px;
        }
        .s-property__repeater{
            
        }
    }
    @media (max-width: 768px){
        .s-property__repeater{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 480px){
        padding-top: 4rem;
        padding-bottom: 4rem;
        .container{
            .s-property__title{
                padding-bottom: 30px;
                gap: 15px;
                h1{
                    font-size: 24px;
                }
                p{
                    max-width: 100%;
                }
            }
        }
        .btn{
            margin-top: 40px;
        }
        .s-property__repeater{
            grid-template-columns: 1fr;
        }
    }
}