.s-custom-property{
    padding-top: 112px;
    padding-bottom: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .container{
        .s-custom-property__title{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            h1{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 36px;
                line-height: 120%;
                color: #050110;
            }
            p{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 175%;
                color: #4F5152;
                width: 100%;
                max-width: 300px;
            }
        }
        .s-custom-property__slide{
            width: 100%;
            max-width: 1008px;
            overflow-x: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            //position: relative;
            margin: 0 auto;
            .swiper-wrapper{
                .swiper-slide{
                    width: 100%;
                    height: 100%;
                    max-height: 600px;
                    max-width: 1008px;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%;
                        height: 100%;
                        max-height: 600px;
                        min-height: 600px;
                        max-width: 1008px;
                        margin: 0 auto;
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                        transition: all .4s ease-in-out;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .swiper-pagination{
                position: absolute;
                bottom: 110px;
                &.swiper-pagination-bullets-dynamic{
                    //background: #050110 !important;
                }
            }
            .swiper-pagination-bullet{
                background: #050110;
                width: 10px;
                height: 10px;
            }
        }
    }
}
.s-property-content{
    .container{
        padding-top: 112px;
        padding-bottom: 112px;
        border-top: 2px solid #EEEEEE;
        border-bottom: 2px solid #EEEEEE;
        .s-property-content__title{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 80px;
            h2, p{
                font-family: 'Poppins', sans-serif;
            }
            h2{
                font-weight: 600;
                font-size: 24px;
                line-height: 125%;
                letter-spacing: -0.01em;
                color: #1A1A1A;
            }
            p{
                font-size: 18px;
                line-height: 175%;
                color: #4F5152;
                width: 100%;
                max-width: 160px;
            }
        }
        .s-property-content__images{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .image__property__left{
                overflow: hidden;
                .image-div{
                    width: 100%;
                    height: 100%;
                    max-height: 486px;
                    max-width: 730px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        max-height: 486px;
                        max-width: 730px;
                        object-fit: cover;
                        transition: all .4s ease-in-out;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #030E15;
                    padding-top: 35px;
                }
            }
            .image__property__right{
                .image-div{
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    max-width: 400px;
                    max-height: 266px;
                    img{
                        width: 100%;
                        height: 100%;
                        max-width: 400px;
                        max-height: 267px;
                        object-fit: cover;
                        transition: all .4s ease-in-out;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }

                }
                
            }
        }
    }
}
